.header {
    background-color: $primaryColor;

    @include media(md) {
            box-shadow: 0px 4px 5px black (0, 0, 0, 0.15);
    }
    // @media  screen and (min-width: 768px) {
    //     box-shadow: 0px 4px 5px black (0, 0, 0, 0.15);
    // }
    .container {
        @extend %container;
    }

    &__inner {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(md) {
        // @media  screen and (min-width: 768px) {
            height: 60px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 45px;
        @include media(sm) {
        // @media  screen and (min-width: 576px) {
            margin-right: 36px;
        }
        @include media(md) {
        // @media  screen and (min-width: 768px) {
           width: 130px;

        }
    }
  
    &__city-phone {
        @include text (14px, 400, 17px, $linkColor);
        @include media(sm) {
        // @media  screen and (min-width: 576px) {
            display: none;
        }
}

&__phone {
    span {
        @include text (14px, 400, 17px, $textColorLight);
    }
    display: none;
    @include media(sm) {
    // @media  screen and (min-width: 576px) {
        display: block;
        margin-left: -5px;
    
    }
}

&__phone-link {
    @include text (14px, 400, 17px, $textColor);
}

&__user {
    @media  screen and (min-width: 320px) {
        margin: -16px;
    }
    @include media(lg) {
    // @media  screen and (min-width: 1280px) {
        display: none;
    }
}

}