.main {
    background-image: url(./../images/main-bg.jpg);
    color: $primaryColor;
    background-size: cover;
    background-position-x: 61%;

    @include media(md) {
        background-size: 238%;
        background-position-x: 55%;
        background-position-y: 49%;
        height: 840px;
    }

    @include media(lg) {
        background-size: 139%;
        background-position-x: 48%;
        background-position-y: 49%;
        // height: 840px;
    }

    // @include media(xl) {
    //     background-size: 139%;
    //     background-position-x: 48%;
    //     background-position-y: 49%;
    //     height: 840px;
    // }
    @include media(xxl) {
        background-size: 101%;
        background-position-x: -25%;
        background-position-y: 62%;
        // height: 840px
    }

    .container {
        @extend %container;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 655px;
    }
    &__title {
        @include text(32px, 700, 39px, $primaryColor); 
        max-width: 247px;
        margin-top: -26px;
        span {
            color: $accentColor;
        }

        @include media(sm) {
            @include text(32px, 700, 39px, $primaryColor); 
            max-width: 247px;
            margin-top: 8px;
        }

        @include media(md) {
            @include text(40px, 700, 48px, $primaryColor);
            max-width: 590px;
            margin-top: 220px;
        }

        @include media(lg) {
            @include text(40px, 700, 48px, $primaryColor);
            max-width: 843px;
            margin-top: 214px;
            transform: translateX(10px);
        }
        @include media(xxl) {
            transform: translate(10px,-53px);
        }
    }

    &__img {
        width: 200px;
        height: 86px;
        margin: 42px 0 0 -2px;

        @include media(md) {
            width: 224px;
            height: 96px;
            margin: 20px 0 12px 0;
        }

        @include media(lg) {
            margin: 29px 0 12px 0;
        }
        @include media(xxl) {
            transform: translate(10px, -58px);
        }

        } 


    &__btn {
        width: 275px;
        height: 68px;
        border: 3px solid $primaryColor;
        border-radius: 7px;
        background-color: transparent;
        @include text(16px, 900, 20px, white); 
        filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
        transform: translateY(11px);

        @include media(md) {
            width: 304px;
            height: 68px;
            border: 3px solid $primaryColor;
            border-radius: 7px;
            background-color: transparent;
            @include text(18px, 900, 22px, white); 
            filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
            transform: translateY(-1px);
        }
        @include media(xxl) {
            transform: translate(9px, -61px);
        }
    }

}

